<div class='tile is-ancestor'>
<ul class='tile is-parent is-vertical is-8'>
    {{#each posts as |post|}}
    <li class='tile is-child'>
        <a href='/post/{{post.id}}'>
        <div class='card'>
            <h3>{{post.title}}</h3>
            <sub>post by you at</sub>
            <sub>{{post.date}}</sub>
            <p>{{post.contents}}</p>
        </div>
        </a>
    </li>
    {{/each}}
</ul>
</div>