<a href='/dash/new'>make new post</a>

<ul>
    {{#each posts as |post|}}
    <li>
        <h4>{{post.title}}</h4>
        <p>{{post.date}}</p>
        <p>{{post.contents}}</p>
    </li>
    {{/each}}
</ul>