<form id='login-form'>
    <input type='text' id='username-login' placeholder='username'>
    <input type='text' id='password-login' placeholder='password'>
    <button type='submit'>log in</button>
</form>