<div class='container'>
<form id='login-form'>
    <input class='input' type='text' id='username-login' placeholder='username'>
    <input class='input' type='text' id='password-login' placeholder='password'>
    <button class='button' type='submit' id='login-submit'>log in</button>
</form>
</div>

<script src='/js/login.js'></script>