<form id="new-post-form">
    <input type="text" id="new-post-title" placeholder="post title">
    <textarea id="new-post-contents" placeholder="write your post here!"></textarea>
    <button type="submit" id="new-post-submit">post</button>
</form>

<script src="/js/new.js"></script>