<div class='container'>
    <div class="card">
        <h3 class='card-header'>new post</h3>
        <form class='card-body' id="new-post-form">
            <input type="text" id="new-post-title" placeholder="post title"><br>
            <textarea id="new-post-contents" placeholder="write your post here!"></textarea><br>
            <button type="submit" id="new-post-submit">post</button>
        </form>
    </div>
</div>

<script src="/js/new.js"></script>